{% extends "model-page.html"%}

{% block content %}
<h1 class="text-center"><b>CANDIDATO</b></h1>

<style>
    .polaroid{

        text-align: left;
        font-size:1.5vh;
        margin-top: 10px;
        padding-align: center;
                }
</style>


<div class="container mp-1 mb-4">
     <div class="row">
        <div class="col-sm-4">
            <div>
                <img class="img-fluid" src="{{pessoa.Foto.url}}" width="350" heigth="263" style="margin-top: 10px">
            </div>
        </div>
            <div class="col-sm-8">
                <div class="polaroid">
                <p><b>Nome:   </b>{{ pessoa.Nome }}</p>
                <p><b>Fone:   </b>{{ pessoa.Telefone }}</p>
                <p><b>E-mail: </b>{{ pessoa.Email }}</p>
                </div>

                <a href="/Pessoa/registro/?id={{pessoa.id}}">
                    <button type="button" class="btn btn-primary">
                    {% if pessoa %}
                        Alterar
                    {% else %}
                        Cadastrar
                    {% endif %}
                    </button>
                </a>
                <a href="/Pessoa/registro/delete/{{pessoa.id}}/">
                    <button type="button" class="btn btn-danger">Excluir</button>
                </a>
            </div>
    </div>

</div>
{% endblock %}
