  <title>AGÊNCIA DE EMPREGOS UNIMAR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <style>

    #menu a{
    color: black;
    padding-bottom: 2px;
    margin-bottom:3px;
    margin-right:2px;
    font-size: 15px;
      }

    #menu a:hover{
      color: black;
      background-color: #87CEFA;
      }

    .jumbotron.header{
    background-color: #87CEFA;
    color: #FFFFFF;
    margin-bottom:2px;
    margin-right:2px;
    background-image: linear-gradient(#87CEFA, #000000);
     }
  </style>
<style>
.myDiv {
  background-color: #87CEFA;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
  background-image: linear-gradient(#000000, #87CEFA);
}
</style>


  <div class="myDiv"
  <h1>AGÊNCIA DE EMPREGOS UNIMAR</h1>
  </div>


  <div id="menu">
      <ul class="nav ml-1 mb-4">
        <li class="nav-item">
          <a class="nav-link" href="/Pessoa/all/">Pessoas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="views.gravar_pessoa">Consulta</a>
        </li>
      </ul>
  </div>
