{% extends "model-page.html"%}

{% block style %}


<style>
    .polaroid{
        margin: auto;
        width: 100%;
        heigth:130px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-size:1.5vh;
            }

    .center {
        margin:auto;
        width:100%;
        padding:0px;
        margin-top:0px
        margin-align:left
            }
</style>
{% endblock%}

{% block content %}
<h1 class="text-center"><b>CANDIDATO</b></h1>
<div class="center">
    <div class="col-sm-8">
        <a href="/Pessoa/registro/">
        <button type="button" class="btn btn-primary">Cadastrar</button>
        </a>
    </div>
</div>

<div class="container">
    <div class ="row">
        {% for p in pessoa %}
         <div class="col-sm-2">
             <a href="../detalhe_pessoa/{{ p.id }}/">
             <div class="polaroid">
                <img class="img-fluid" src="/Media/{{p.Foto}}"  style="width:100%">
                <div class="container">
                    <p>{{p.Nome}}</p>

                </div>
             </div>
             </a>
        </div>
          {% endfor %}
    </div>
</div>

{% endblock%}
